
{%extends "base.html"%}

{%block app_content%}


    
    {% for code in content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/idea.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <script>
        hljs.highlightAll();
    </script>
    
    <Style>
		textarea {
			position: absolute;
			left: -100%;
		}
	</Style>

    <!-- Code template -->

	<br>
	<div class="card mx-auto" style="width: 91%; border: #b1c451 1px solid; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); font-family: 'Product Sans';">
		<div class="card-header" style="background-color: #b1c451;">
			{%if content%} 
                {% set splitstring = code|string() %}
                {% set separated = splitstring.split('-----') %}
                <strong><span id="template_name">{{ separated[0] }}</span></strong>
                
                    
            {% endif %}
			
		</div>
		
		<div class="card-body">
			<div>
				<button type="button" class="btn btn-outline-success" style="float: right; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" id="download_button3"><strong><i class="bi bi-download" id="download_button2"></i> Download</strong></button>
				<button type="button" class="btn btn-outline-secondary" style="float: right; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" id="copy_button5"><strong><i class="bi bi-clipboard-check"></i> Copy</strong></button>
			</div>	
				
			<div style="border: 1px solid black; border-radius: 0.2em;">
				{%if content%}
                    {% set splitstring = code|string() %}
                    {% set separated = splitstring.split('-----') %}
                    
                    <pre class="error-message" style="padding-left:3%" id="saved_code_3"><code><strong>{{separated[1]}}</strong></code></pre>
                {%else%}
                    <code class="error-message" style="padding-left:3%" id="saved_code_3">No saved code</code>
                {%endif%}
			</div>

		</div>

	</div>
 
    {% endfor %}
    <script>
        function copyFunction() {
        const copyText = document.getElementById("saved_code_3").textContent;
        const textArea = document.createElement('textarea');
        textArea.textContent = copyText;
        document.body.append(textArea);
        textArea.select();
        document.execCommand("copy");
        }

        document.getElementById('copy_button5').addEventListener('click', copyFunction);

        function saveTextAsFile()
        {
            var textToWrite = document.getElementById('saved_code_3').innerText;
            var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
            var fileNameToSaveAs = document.getElementById('template_name').innerText;

            var downloadLink = document.createElement("a");
            downloadLink.download = fileNameToSaveAs;
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null)
            {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            }
            else
            {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = function(){
                    document.body.removeChild(downloadLink);
                };
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }

            downloadLink.click();
        }

        var button = document.getElementById('download_button3');
        button.addEventListener('click', saveTextAsFile);  
    </script>
{%endblock%}